{% extends 'homebase.html' %}
{% block title %} 404 Not Found || Absolute Journey {% endblock %}
{% block inner_headline %}

	<section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="inner-heading">
              <h2>404 Not Found</h2>
            </div>
          </div>
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
              <li class="active">404 Not Found</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

{% endblock %}

{% block main_content %}

	<div class="row">
          <div class="span12">
            <h2 class="aligncenter">404 Error not found</h3>
				<p class="aligncenter">
					The page you are looking for does not exist or removed. You can <strong> <a href="/">Click Here</a></strong> to go to the homepage.
				</p>
			</div>
		</div>

{% endblock %}