{% extends 'homebase.html' %} 
{% block title %} Địa Điểm {% endblock %} 
{% block keywords %} dia diem {% endblock %} 

{% block inner_headline %}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="inner-heading">
                    <h2>Địa điểm</h2>
                </div>
            </div>
            <div class="span8">
                <ul class="breadcrumb">
                    <li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active">Điạ điểm</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %} 

{% block main_content %}

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    {% for district in districts %}
                    <li data-filter=".filter-{{ district.id }}">{{ district.title }}</li>
                    {% endfor %}
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">
            {% for place in places %}
            <div style="width: 100%;" class="portfolio">
                <div style="max-width: 30.8%" class="col-lg-4 col-md-4 portfolio-item filter-{{ place.district_id }}">
                    <li class="item-thumbs span4 design" style="list-style: none;">
                        <img style="height: 250px; width: 500px;" src="{{ place.image.url }}" class="img-fluid" alt=""></li>
                    <div class="portfolio-info">
                        <h4>{{ place.title }}</h4>
                        <p>{{ place.description }}</p>
                        <a href="{{ place.image.url }}" data-gall="portfolioGallery" class="venobox preview-link" title="{{ place.title }}"><i class="bx bx-plus"></i></a>
                        <a href="/place/{{ place.id }}/{{ place.slug }}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
</section>
<!-- End Portfolio Section -->

{% endblock %} 
  
{% block css %}

<link href="/static/danhlamthangcanh/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="/static/danhlamthangcanh/assets/vendor/venobox/venobox.css" rel="stylesheet">
<link href="/static/danhlamthangcanh/assets/vendor/aos/aos.css" rel="stylesheet">
<link href="/static/danhlamthangcanh/assets/css/style.css" rel="stylesheet">
{% endblock %}
  
{% block js %}

<script src="/static/danhlamthangcanh/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
<script src="/static/danhlamthangcanh/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/danhlamthangcanh/assets/vendor/venobox/venobox.min.js"></script>
<script src="/static/danhlamthangcanh/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="/static/danhlamthangcanh/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="/static/danhlamthangcanh/assets/vendor/aos/aos.js"></script>
<script src="/static/danhlamthangcanh/assets/js/main.js"></script>

{% endblock %}