{% extends 'homebase.html' %}
{% block title %} Thêm địa điểm {% endblock %}
{% block inner_headline %}

	<section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="inner-heading">
              <h2>Thêm địa điểm</h2>
            </div>
          </div>
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
              <li class="active">Thêm địa điểm</li>
            </ul>
          </div>
        </div>
      </div>
    </section>


{% endblock %}

{% block main_content %}

<div class="row">
    <div class="span12">
        <h4><strong>Thêm địa điểm của bạn</strong></h4>

        {% if messages %}
          {% for message in messages %}
              <div class="alert alert-{{message.tags}}" role="alert">
                {{ message }}
              </div>
          {% endfor %}
        {% endif %}

        <form method="post" enctype="multipart/form-data" class="contactForm">   
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <p class="span8 text-center">
              <button class="btn btn-large btn-theme margintop10" type="submit">Lưu</button>
            </p>
        </form>
    </div>
</div>


{% endblock %}
