{% extends 'homebase.html' %}

{% block title %} Đổi mật khẩu {% endblock %}

{% block inner_headline %} 

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="inner-heading">
                    <h2>Đổi mật khẩu</h2>
                </div>
            </div>
            <div class="span8">
                <ul class="breadcrumb">
                    <li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active">Đổi mật khẩu</li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block main_content %}

<div class="row">
    <div class="span12">
        <h4><strong>Đổi mật khẩu</strong></h4>

        {% if messages %}
          {% for message in messages %}
              <div class="alert alert-{{message.tags}}" role="alert">
                {{ message|safe }}
              </div>
          {% endfor %}
        {% endif %}

        <form method="post" class="contactForm">   
            {% csrf_token %}
            {{ form.as_p }}
                <p class="span8">
                    <button class="btn btn-large btn-theme margintop10" type="submit">Thay đổi</button>
                </p>
            </div>
        </form>


</div>
</div>
{% endblock %}